# Node modules and logs
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# System files (Windows / macOS)
.DS_Store
Thumbs.db

# Optional: Editor-specific folders
.vscode/
.idea/
