*{
  background-color: rgb(238, 236, 236);
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1 {
  color: red;
}
.entry {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: #f9f9f9;
}
